KAT.Services/Service References/DocumentWebServiceReference/DocumentWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1980/Document/DocumentWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1980/Document/DocumentWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1980/Document/DocumentWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KAT.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentWebService_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentWebService_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentWebService_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentWebService_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentWebService_InsertDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentWebService_InsertDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentWebService_UpdateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentWebService_UpdateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentWebService">
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentWebService/GetDocuments" message="tns:IDocumentWebService_GetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentWebService/GetDocumentsResponse" message="tns:IDocumentWebService_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentWebService/DeleteDocument" message="tns:IDocumentWebService_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentWebService/DeleteDocumentResponse" message="tns:IDocumentWebService_DeleteDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentWebService/InsertDocument" message="tns:IDocumentWebService_InsertDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentWebService/InsertDocumentResponse" message="tns:IDocumentWebService_InsertDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentWebService/UpdateDocument" message="tns:IDocumentWebService_UpdateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentWebService/UpdateDocumentResponse" message="tns:IDocumentWebService_UpdateDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentWebService" type="tns:IDocumentWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocuments">
      <soap:operation soapAction="http://tempuri.org/IDocumentWebService/GetDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentWebService/DeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentWebService/InsertDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentWebService/UpdateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentWebService">
    <wsdl:port name="BasicHttpBinding_IDocumentWebService" binding="tns:BasicHttpBinding_IDocumentWebService">
      <soap:address location="http://localhost:1980/Document/DocumentWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>