KAT.Services/Service References/NomenclatureWebServiceReference/NomenclatureWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KAT.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KAT.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfViolation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Violation" nillable="true" type="tns:Violation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolation" nillable="true" type="tns:ArrayOfViolation" />
  <xs:complexType name="Violation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Violation" nillable="true" type="tns:Violation" />
  <xs:complexType name="ArrayOfCamera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Camera" nillable="true" type="tns:Camera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCamera" nillable="true" type="tns:ArrayOfCamera" />
  <xs:complexType name="Camera">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Camera" nillable="true" type="tns:Camera" />
  <xs:complexType name="ArrayOfPoliceman">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Policeman" nillable="true" type="tns:Policeman" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoliceman" nillable="true" type="tns:ArrayOfPoliceman" />
  <xs:complexType name="Policeman">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="tns:Nomenclature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policeman" nillable="true" type="tns:Policeman" />
  <xs:complexType name="Nomenclature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nomenclature" nillable="true" type="tns:Nomenclature" />
</xs:schema>