KAT.Services/Service References/NomenclatureWebServiceReference/NomenclatureWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1980/Nomenclature/NomenclatureWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KAT.Web.Models" />
  <xs:element name="GetViolations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="GetViolationsResult" nillable="true" type="q1:ArrayOfViolation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="violation" nillable="true" type="q2:Violation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddViolationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteViolationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="violation" nillable="true" type="q3:Violation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateViolationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateViolationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCamerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="GetCamerasResult" nillable="true" type="q4:ArrayOfCamera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="camera" nillable="true" type="q5:Camera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCameraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCameraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="camera" nillable="true" type="q6:Camera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCameraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicemen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicemenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="GetPolicemenResult" nillable="true" type="q7:ArrayOfPoliceman" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPoliceman">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="policeman" nillable="true" type="q8:Policeman" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPolicemanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPolicemanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePoliceman">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePolicemanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePolicemanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePoliceman">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KAT.Web.Models" minOccurs="0" name="policeman" nillable="true" type="q9:Policeman" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePolicemanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePolicemanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>