KAT.Services/Service References/AccountWebServiceReference/AccountWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KAT.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KAT.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1980/Account/AccountWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security" minOccurs="0" name="Password" nillable="true" type="q1:SecureString" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>